/* General */
* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    color: #333;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: linear-gradient(180deg, #d9cbff 0%, #102f5e 98%);
}

button {
    background-color: #fdfdfd;
    color: #102f5e;
    border: 2px solid #102f5e;
    padding: 0.3rem 0.6rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    margin-right: 0.3rem;
}

button i {
    color: #102f5e;
    font-weight: bold;
    pointer-events: none;
}

button:hover {
    background-color: #102f5e;
}

button:hover > i {
    color: #fdfdfd;
}

input,
select {
    padding: 0.25rem 0.5rem;
    margin-right: 0.3rem;
}

.hide {
    display: none;
}

/* Header */
.todo-container {
    max-width: 450px;
    margin: 3rem auto;
    background-color: #fdfdfd;
    padding: 1.5rem;
    border-radius: 15px;
}

.todo-container header {
    text-align: center;
    padding: 0 1rem 1rem;
    border-bottom: 1px solid #ccc;
}

/* Form */
#todo-form,
#edit-form {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

#todo-form p,
#edit-form p {
    font-weight: bold;
}

.form-control {
    margin-top: 0.5rem;
    display: flex;

}

/* Tools */
#toolbar {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    display: flex;
}

#toolbar h4 {
    margin-bottom: 0.5rem;
}

#search {
    border-right: 1px solid #ccc;
    padding-right: 1rem;
    margin-right: 1rem;
    width: 65%;
    display: flex;
    flex-direction: column;
}

#search form {
    display: flex;
}

#search input {
    width: 100%;
}

#filter {
    width: 35%;
    display: flex;
    flex-direction: column;
}

#filter select {
    flex: 1;
}

/* List */
.todo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
    transition: 0.3s;
}

.tag {
    flex: 0.12;
}

.todo h3 {
    flex: 1;
    font-size: 1rem;
}

.done {
    background-color: #395169;
}

.done h3 {
    color: #fdfdfd;
    font-style: italic;
    text-decoration: line-through;
}

/* Paleta */
.color-picker {
  display: none;
  gap: 6px;
  background: #fdfdfd;
  padding: 6px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,.15);
}

.color-picker span {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  cursor: pointer;
}

/* cores */
.color-picker span[data-color="#da1c1c"] { background: #da1c1c; }
.color-picker span[data-color="#f17611"] { background: #f17611; }
.color-picker span[data-color="#e2b913"] { background: #e2b913; }
.color-picker span[data-color="#129724"] { background: #129724; }
.color-picker span[data-color="#102f5e"] { background: #fdfdfd;  border: 1px solid #102f5e;}
